<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>Login</title>
        <meta name="Login" content="Contem a tela de login">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'  rel='stylesheet'> 
        <link rel="stylesheet" href="../static/css/login.css">
        <link rel="shortcut icon" href="../static/img/Fundosemfundo.png" type="image/x-icon">
    </head>

    <body>
        <main class="container";>
        <form>
          <h1>Login:</h1>
          <div class="input-box">
                <input type="email" placeholder="User">
                <i class= "bx bxs-user"></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password">
                <i class= "bx bxs-lock-alt"></i>
            </div>
            
            <div class="Remenber-Forgot">
              <label>
                <input type="checkbox">
                  Remember me
              </label>
              <a href="#">Forgot my password</a>
            </div>
            <button type="submit" class="login">Login</button>
            <div class="register-link">
              <p>Don't have a account?<a href="#"> Register</a></p>
            </div>
        </form>              
    </body>
</html>